<h1>投稿一覧画面</h1>

<p class="notice"><%= notice %></p>

    <div class="container">
      <div class="row">
      <div class="col-md-3">
        <h3>User info</h3>
          <div class="user_image">
            <%= image_tag @user.get_profile_image(100,100) %>
          </div>