<%= form_with model: comment, url: vegetable_comments_path(vegetable.id), local: false do |f| %>
  <%= f.text_area :body, rows: '5', placeholder: "コメント記入", class: "w-100 mb-3" %>
  <div class="d-flex justify-content-end">
    <%= button_tag(type: 'submit', class: "btn btn-primary w-95") do %>
      <i class="fa-solid fa-share"></i> 送信する
    <% end %>
  </div>
<% end %>