<div class="container-fluid text-center" style="padding: 0;">
    <div class="row" style="height: 85vh;">
      <div class="col-md-12" style="display: flex; justify-content: center; align-items: center; background-image: url('<%= asset_path("ninjin.jpg")%>'); background-size: cover; background-position: center; position: relative;">
       <div class="d-flex flex-column justify-content-center align-items-center padding: 20px; border-radius: 10px;">
        <div class="decide">
        <div class="row">
          <h3 class="col-4">
            <p>意義と目的</p>
          </h3>
          <h4 class="col-6">
            <p>昨今の食料値上げが問題になる中、身近な所で作れる家庭菜園で安くて美味しく新鮮な野菜を作る方法を提供し、農業や家庭菜園をされている方と役に立つ情報を共有して
            頂きたく、こちらのサイトを作りました。</p>
          </h4>
        </div>

        <div class="row">
          <h3 class="col-4">
            <p>利用者さまへ</p>
          </h3>
          <h4 class="col-6">
            <p>初心者の方だけでなく、すでに野菜作りを楽しまれている方もおススメの野菜や作り方などを情報を共有して、美味しい野菜をたくさん作っていただければと思います。</p>
          </h4>
        </div>
        
        <div class="row">
          <h3 class="col-4">
            <p>注意とご案内</p>
          </h3>
          <h4 class="col-6">
            <p>ユーザーの方が行った投稿やコメントに対して、不適切な内容や表現が含まれていた場合、
            管理者がこの投稿やコメントを削除させていただく場合がございます。ご理解の程、よろしくお願いいたします。</p>
          </h4>
        </div>

        </div>
      </div>
    </div>
  </div>
</div>