<div class="about-bg custom-background h-100">
  <div class="container pt-3">
    <!--<div class="d-flex custom-about">-->
      <div class="d-flex flex-column justify-content-center align-items-center pt-5">
        <div class="row pt-5">
          <h3 class="col-12 text-center custom-title-about">意義と目的</h3>
        </div>
          <h4 class="col-10 offset-1 custom-text-about">
            昨今の食料値上げが問題になる中、家庭菜園で安くて美味しく、新鮮な野菜を作る方法を共有して頂きたく、こちらのサイトを作りました。</p>
          </h4>
         
          
          <div class="row">
            <h3 class="col-12 md-3 mt-4 text-center custom-title-about">
              利用者さまへ
            </h3>
          </div>
            <h4 class="col-10 offset-1 custom-text-about">
              <p>おすすめの野菜や作り方などの情報を共有して、美味しい野菜をたくさん作っていただければと思います。</p>
            </h4>

          <div class="row">
            <h3 class="col-12 md-3 mt-5 text-center custom-title-about">
              注意とご案内
            </h3>
          </div>
            <h4 class="col-10 offset-1 mt-1 custom-text-about">
              利用者さまの投稿やコメントに不適切な内容や表現が含まれていた場合、
              管理者が削除させていただく場合がございます。ご理解の程、よろしくお願いいたします。</p>
            </h4>
          <!--</div>-->
      <!--</div>-->
    </div>
  </div>
</div>