<div class="container-fluid text-center" style="padding: 0;">
    <div class="row no-gutters" style="height: 90vh;">
      <div class="col-md-12" style="display: flex; justify-centent: center; align-items: center; background-image: url('<%= asset_path("tomato.jpg")%>'); background-size: cover; background-position: center; position: relative;">

      <%#= render 'public/shared/sidebar', genres: #@genres %>
    <div class="row">
        <div class="card-img-overlay d-flex flex-column justify-content-center align-items-start mx-auto p-2" style="width: 500px;">
        <h1 style="font-family: 'Kosugi Maru', cursive;">自分で作る野菜と健康</h1>
        </div>
    </div>
    
    <div class="row">
      <div class="col-3">
        <p>自分で作る野菜と健康</p>
      </div>
    </div>
    
    <div class="row">
      <div class="col">
          <p>このサイトは、家庭菜園を始めたい方や野菜の情報を共有するサイトになります。</br>
          会員でない方も野菜一覧の閲覧はできますが、深く知りたい方には会員登録が必要になります。</p>
        </div>
    </div>
  </div>
</div>
</div>