
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <%#= render 'public/shared/sidebar', genres: #@genres %>
    </div>

    <div class='col-md-9'>
        <div class="card-img-overlay d-flex flex-column justify-content-center align-items-start mx-auto p-2" style="width: 500px;">
          <h5 class="card-title">自分で作る野菜と健康！</h5>
          <p class="card-text">このサイトは、家庭菜園を始めたい方や野菜の情報を共有するサイトになります。</p>
          <p class="card-text">会員でない方も野菜一覧の閲覧はできますが、深く知りたい方には会員登録が必要になります。</p>
        </div>
      </div>
      
      
  </div>
</div>