<div class="container-fluid text-center" style="padding: 0;">
    <div class="row no-gutters" style="height: 90vh;">
      <div class="col-md-12" style="display: flex; justify-centent: center; align-items: center; background-image: url('<%= asset_path("tomato.jpg")%>'); background-size: cover; background-position: center; position: relative;">

      <%#= render 'public/shared/sidebar', genres: #@genres %>

        <div class="justify-content-center">
        <h1 style="font-family: 'Kosugi Maru', cursive;">自分で作る野菜と健康</h1>

        <h3 style="font-family: 'Zen Maru Gothic', cursive;">
          家庭菜園の方法や野菜の情報を共有して<br>
          身体に良い野菜を安く作ってみませんか</h3>
        </div>
    </div>
  </div>
</div>
