@use '~bootstrap/scss/bootstrap';

header, nav {
  font-family: "Kiwi Maru",;
  height: 70px;
  color: black;
  font-weight: 370;
  font-style: normal;
}

 h1, h2, h3, h4, h5, h6, {
  font-family: "Kiwi Maru",;
  height: 40px;
  color: black;
  font-weight: 370;
  font-style: normal;
}

.custom-container {
  padding: 0;
}

.full-height-top {
  height: 85vh;
}

.custom-background-top {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../../assets/images/tomato2.jpg"); /* asset_path の結果に相当 */
  background-size: cover;
  background-position: center;
  position: relative;
}

.flash-message-wrapper {  /* メッセージ表示位置を固定 */
  position: relative;
  .flash-message {
    position: absolute;
    top: 20px;
    z-index: 1;
    font-width: 350px;
    left: 600px;
  }
}

.alert {
  font-weight: 500;
}

.notice {
  font-weight: 500;
}

.flash-message-wrapper {
  position: relative;
  .message-name {
    position: absolute;
    top: 25px;
    z-index: 1;
    width: 300px;
    left: 200px;
  }
}

.custom-content-top {
  padding: 20px;
  border-radius: 10px;
}

  footer {
  bottom: 0; /*下に固定*/
  background-color: #3cb371;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;  /* 横方向の中央揃え */
  align-items: center;      /* 縦方向の中央揃え */
}

.footer-content {
  text-align: center;       /* テキストを中央揃え */
  color: white;
  margin: 0;  /* 余白をリセット */
  padding: 0; /* パディングをリセット */
}

.custom-about {
  height: 85vh;  /*サイズ指定 */
}

.custom-background-about {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../../assets/images/circle.jpg");  /* 背景画像のパスを指定 */
  background-size: cover;
  background-position: center;
  background-color: rgba( 0, 0, 0, 0.5); /* 背景色を半透明 */
  position: relative;
}

.custom-content-about {
  padding: 20px;
  border-radius: 10px;
}

.custom-title-about {
  font-weight: 500;
}

.custom-text-about {
  font-weight: 500;
}
