@use '~bootstrap/scss/bootstrap';

 .title-margin {
    margin-top: 10px;
  }

 header, h1, h2, h3, h4, h5, nav {
  font-family: "Kiwi Maru",;

  color: black;
  font-weight: 370;
  font-style: normal;
}

  footer {

    bottom: 0; /*下に固定*/
}