@use '~bootstrap/scss/bootstrap';

header, nav {
  font-family: "Kiwi Maru",;
  height: 70px;
  color: black;
  font-weight: 370;
  font-style: normal;
}

 h1, h2, h3, h4, h5, h6 {
  font-family: "Kiwi Maru",;
  height: 40px;
  color: black;
  font-weight: 370;
  font-style: normal;
}

.custom-container {
  padding: 0;
}

.flash-message-wrapper {  /* メッセージ表示位置を固定 */
  position: relative;
  .flash-message {
    position: absolute;
    top: 13px;
    z-index: 1;
    font-width: 350px;
    left: 250px;
  }
}

.notice,
.alert {
  font-weight: 500;
}

.flash-message-wrapper {
  position: relative;
  .message-name {
    position: absolute;
    top: 25px;
    z-index: 1;
    width: 300px;
    left: 200px;
  }
}

  footer {
  bottom: 0; /*下に固定*/
  background-color: #3cb371;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;  /* 横方向の中央揃え */
  align-items: center;      /* 縦方向の中央揃え */
}

.footer-content {
  text-align: center;       /* テキストを中央揃え */
  color: white;
  margin: 0;  /* 余白をリセット */
  padding: 0; /* パディングをリセット */
}

.custom-top,
.custom-about {
  height: 80vh;  /*サイズ指定 */
}

.custom-title-about,
.custom-text-about {
  font-weight: 500;
}

.top-bg {
  /* 画像ファイルの指定 */
  background-image: url(../images/tomato2.jpg);
}

.main-bg {
  /* 画像ファイルの指定 */
  background-image: url(../images/back3.jpg);
}

.about-bg {
  background-image: url("../../assets/images/circle.jpg");
}

.custom-background {
  background-blend-mode: soft-light;
  background-color: rgba(255, 255, 255, .3);
  /* 画像を常に天地左右の中央に配置 */
  background-position: center center;

  /* 画像をタイル状に繰り返し表示しない */
  background-repeat: no-repeat;

  /* コンテンツの高さが画像の高さより大きい時、動かないように固定 */
  background-attachment: fixed;

  /* 表示するコンテナの大きさに基づいて、背景画像を調整 */
  background-size: cover;

  /* 背景画像が読み込まれる前に表示される背景のカラー */
  // background-color: #fff;
}

 table > tbody > tr > td {
    background-color: white !important;
  }

  .custom-title-about > p,
  .custom-text-about {
    line-height: 2.5rem;
    letter-spacing: .3rem;
  }



.pagetop {
  width: 90px;
  height: 90px;
  position: fixed;
  bottom: 8%;
  right: 4%;
  transition: opacity .3s ease, visibility .3s ease;
  // opacity: 0; /* デフォルトでは表示を消します */
  // visibility: hidden; /* デフォルトでは表示を消します */
}

.pagetop__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #33CCFF;
  border-radius: 50%;
  text-align: center;
  font-size: 27px;
  font-size: bold;
  line-height: 1.3;
  color: #333;
  text-decoration: none;
}

.pagetop__text {
  position: relative;
}

// .pagetop__text::before {
//   content: "〈";
//   display: inline-block;
//   position: absolute;
//   top: -13px;
//   left: 50%;
//   transform: translateX(-50%) rotate(90deg);
// }

// .pagetop__text::after {
//   content: "〈";
//   display: inline-block;
//   position: absolute;
//   top: -7px;
//   left: 50%;
//   transform: translateX(-50%) rotate(90deg);
// }

// /* TOPボタン出現後のスタイル */
// .pagetop.fadeIn {
//   opacity: 1; /* フェードインアニメーション */
//   visibility: visible; /* ボタンを表示 */
// }