 <div class="container">
  <div class="row">
    <h2 class="col mt-5">管理者投稿一覧確認画面</h2>
  </div>
  <div class="row">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col" style="width: 15%;">ユーザー画像</th>
          <th scope="col" style="width: 20%;">ユーザー名</th>
          <th scope="col" style="width: 25%;">仮いいね数</th>
          <th scope="col" style="width: 25%;">仮コメント数</th>
          <th scope="col" style="width: 15%;">仮グループ</th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td><%= image_tag user.get_profile_image(100, 100) %></td>
            <td><%= link_to user.name, admin_user_path(user.id) %></td>
             <td>仮いいね数</td>
            <td>仮コメント数</td>
            <td>仮グループ数</td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>