    <div class="container">
      <h1>マイページ</h1>
      <div class="row">
        <div class="col-md-3">
          <h2>ユーザー情報</h2>
          <div>ユーザー名</div>
          <div><%= @user.name %></div>
          <div><%#= image_tag @user.get_profile_image(100,100) %></div>
            <div class="row">
              <%= link_to public_users_edit_path(@user.id), class: "btn btn-success form-control" do%>
                <i class="fa-solid fa-user-gear">プロフィール編集</i>
              <% end %>
            </div>
            <div class="row">
              <%= link_to public_posts_new_path, class: "btn btn-success form-control" do%>
                <i class="fa-solid fa-pen">新規投稿</i>
              <% end %>
            </div>
        </div>


      <div class="col-md-8 offset-md-1">

<h2>投稿一覧</h2>

  <div class="table">
    <table>
      <tr>
        <th></th>
        <th>野菜名</th>
        <th>説明文</th>
      </tr>

    </table>
  </div>
</div>
</div>
</div>
