<div class="container-fluid text-center" style="padding: 0;">
    <div class="row no-gutters" style="height: 80vh;">
      <div class="col-md-12" style="display: flex; justify-content: center; align-items: center; background-image: url('<%= asset_path("circle.jpg")%>'); background-size: cover; background-position: center; position: relative;">

      <%#= render 'public/shared/sidebar', genres: #@genres %>
      <div class="d-flex flex-column justify-content-center align-items-center padding: 20px; border-radius: 10px;">

        <h1 class="row">ようこそ！ゲストユーザーさん</h1>
        
        <h3 class="row mt-5">投稿一覧から投稿された野菜を閲覧できます</h3>
      </div>
    </div>
  </div>
</div>
