<% if vegetable.errors.any? %>
  <%= vegetable.errors.count %>件のエラーが発生しました
  <ul>
    <% vegetable.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>