<footer style="background-color: #3cb371; width: 100%;">
  <div class='container mt-3'>
  	<div class='row'>
    	<div class='mx-auto text-white'>
    	　<p>野菜作りの情報を共有するコミュニティサイト</p>
    	</div>
    </div>
  </div>
</footer>

